@media screen and (min-width: 0px) {

    html,
    body,
    #root {
        box-sizing: border-box;
        margin: 0;
        min-height: 100vh;
        background-color: var(--primary-color);

        --primary-color: #000319;
        --light-color: #FFFFFF;
        --dark-color: #000000;
        --hover-text-color: #00D9FD;
        --active-text-color: #B0B3C6;
        --sky-blue-color: #00C5E6;
        --border-color: #1C36F5;
        --text-ash-color: #E8EBFE;
        --foundation-color: #B0B3C6;
        --card-text-color: #CAC6DD;

        --basic-padding: 3.5rem;
        --basic-margin: 3.5rem;
        --flex-gap: 3.5rem;
        --mobile-nav-height: 20.1rem;
    }

    * {
        /* outline: 1px solid #FF0000; */
    }
}